.nav-bar{
  display: flex;
  height: 50px;
  background-color: rgb(28, 93, 235);
  align-items: center;
}

.title{
  margin-left: 3vw;
  font-family: sans-serif;
  color: white;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  list-style: none;
  color: white;
}

.links{
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}